<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>numero</th>
      <th>nom</th>
      <th>dateAchat</th>
      <th>prix</th>
      <th>note</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let r of pageRessource">
      <td>{{r?.numero}}</td>
      <td>{{r?.nom}}</td>
      <td>{{r?.prix}}</td>
      <td>{{r?.dateAchat}}</td>
      <td>{{r?.note}}</td>
      <!--<td><button (click)="onEditArticle(a)" class="btn btn-default" data-toggle="modal" data-target="#myModal">Edit </button></td>-->
      <!--<td><button (click)="onDeleteArticle(a)" class="btn btn-default">Delete</button></td>-->
    </tr>
    </tbody>
  </table>
</div>
